/* BASE */ /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* COLORS */
/* COLORS */
/* MEDIA */
/* MEDIA */
body {
  background-color: #0F172A;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}
body span {
  color: #22D3EE;
}

a {
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #22D3EE;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.container--footer {
  max-width: 1350px;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .title-2 {
    font-size: 24px;
  }
}

/* BASE */
/* BLOCKS WELCOMEPAGE */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top__row .header__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 700;
  color: #22D3EE;
}
@media screen and (max-width: 768px) {
  .header__top__row .header__top__logo {
    font-size: 24px;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
  }
}

.header__nav {
  display: block;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav ul .nav__link {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav ul .nav__link:hover {
  color: #22D3EE;
}

.header__bottom {
  margin-top: 85px;
}

.header__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__bottom__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 18px;
    text-align: center;
    justify-items: center;
  }
  .header__bottom__row .header__bottom__picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 200px;
  }
}

.headaer__bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
.headaer__bottom__info h1 {
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info h1 {
    font-size: 24px;
  }
}
.headaer__bottom__info p {
  font-size: 26px;
  max-width: 713px;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info p {
    font-size: 13px;
    max-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info {
    row-gap: 18px;
  }
}

.header__bottom__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__bottom__socials img {
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
@media screen and (max-width: 768px) {
  .header__bottom__socials img {
    width: 40px;
    height: 40px;
  }
}
.header__bottom__socials img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .header__bottom__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main {
  margin-top: 133px;
}

.projects__title {
  margin-bottom: 83px;
}
@media screen and (max-width: 768px) {
  .projects__title {
    margin-bottom: 25px;
  }
}

.projects__row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .projects__row ul {
    row-gap: 20px;
  }
}
.projects__row li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(30, 41, 59, 0.4);
  border-radius: 20px;
  padding: 15px;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}
.projects__row li > a:hover {
  -webkit-box-shadow: 0 0 5px #22D3EE;
          box-shadow: 0 0 5px #22D3EE;
}
@media screen and (max-width: 768px) {
  .projects__row li > a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}

.project__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .project__image {
    width: 70px;
  }
}

.project__info h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .project__info h3 {
    text-align: center;
    font-size: 20px;
  }
}
.project__info p {
  color: #CBD5E1;
  max-width: 770px;
}
@media screen and (max-width: 768px) {
  .project__info p {
    font-size: 14px;
  }
}

.posts {
  margin-top: 95px;
}

.posts__title {
  margin-bottom: 82px;
}
.posts__title--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.posts__title--row a {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .posts__title--row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .posts__title--row a {
    font-size: 12px;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .posts__title {
    margin-bottom: 25px;
  }
}

.posts__row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 25px;
}
@media screen and (max-width: 768px) {
  .posts__row ul {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.posts__row li {
  overflow: hidden;
  border-radius: 20px;
  background-color: #1E293B;
  margin: 0 auto;
  max-width: 336px;
}
.posts__row li .post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  text-align: center;
  padding: 10px;
}
.posts__row li h4 {
  font-size: 24px;
  font-weight: 700;
  color: #F8FAFC;
}
@media screen and (max-width: 768px) {
  .posts__row li h4 {
    font-size: 18px;
  }
}
.posts__row li time {
  font-size: 12px;
  color: #9CA3AF;
}
.posts__row li p {
  font-size: 20px;
  color: #F8FAFC;
}
@media screen and (max-width: 768px) {
  .posts__row li p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .posts__row li {
    max-width: 336px;
  }
}

.mailing {
  margin-top: 130px;
}

.mailing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .mailing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
}

.mailing__info {
  max-width: 600px;
}
.mailing__info h2 {
  max-width: 360px;
}
.mailing__info p {
  color: #CBD5E1;
}

.mailing__title {
  margin-bottom: 33px;
}
@media screen and (max-width: 768px) {
  .mailing__title {
    margin-bottom: 15px;
  }
}

.title-2--mailing {
  font-weight: 500;
}

.mail__block {
  background-color: #1E293B;
  padding: 10px 14px 10px 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mail__block input {
  color: #FFFFFF;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .mail__block input {
    font-size: 10px;
  }
}
.mail__block ::-webkit-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-moz-placeholder {
  color: #CBD5E1;
}
.mail__block :-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::placeholder {
  color: #CBD5E1;
}
.mail__block button {
  background: var(--Gradient, linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%));
  color: #1E293B;
  padding: 11px 35px;
  border-radius: 30px;
  font-weight: 700;
  color: #1E293B;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.mail__block button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .mail__block button {
    width: 80px;
    font-size: 10px;
    padding: 9px 15px;
  }
}
@media screen and (max-width: 768px) {
  .mail__block {
    padding: 8px 10px 8px 10px;
  }
}

.footer {
  margin-top: 100px;
  padding: 17px 0 46px;
  border-top: 1px solid #CBD5E1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 20px;
    margin-top: 50px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 10px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__socials img {
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
@media screen and (max-width: 768px) {
  .footer__socials img {
    width: 15px;
  }
}
.footer__socials img:hover {
  opacity: 0.6;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BLOCKS WELCOMEPAGE */
/* BLOCKS POSTS */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top__row .header__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 700;
  color: #22D3EE;
}
@media screen and (max-width: 768px) {
  .header__top__row .header__top__logo {
    font-size: 24px;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
  }
}

.header__nav {
  display: block;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav ul .nav__link {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav ul .nav__link:hover {
  color: #22D3EE;
}

.header__bottom {
  margin-top: 85px;
}

.header__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__bottom__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 18px;
    text-align: center;
    justify-items: center;
  }
  .header__bottom__row .header__bottom__picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 200px;
  }
}

.headaer__bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
.headaer__bottom__info h1 {
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info h1 {
    font-size: 24px;
  }
}
.headaer__bottom__info p {
  font-size: 26px;
  max-width: 713px;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info p {
    font-size: 13px;
    max-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info {
    row-gap: 18px;
  }
}

.header__bottom__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__bottom__socials img {
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
@media screen and (max-width: 768px) {
  .header__bottom__socials img {
    width: 40px;
    height: 40px;
  }
}
.header__bottom__socials img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .header__bottom__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main {
  margin-top: 69px;
}
@media screen and (max-width: 768px) {
  .main {
    margin-top: 30px;
  }
}

.posts {
  margin-top: 95px;
}

.posts__titles {
  margin-bottom: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 38px;
  text-align: center;
}
.posts__titles h1 {
  color: #F8FAFC;
}
@media screen and (max-width: 768px) {
  .posts__titles h1 {
    font-size: 24px;
  }
}
.posts__titles p {
  color: #CBD5E1;
}
@media screen and (max-width: 768px) {
  .posts__titles p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .posts__titles {
    margin-bottom: 40px;
    row-gap: 17px;
  }
}

.posts__row ul {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  row-gap: 60px;
}
@media screen and (max-width: 768px) {
  .posts__row ul {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
.posts__row li {
  overflow: hidden;
  border-radius: 20px;
  background-color: #1E293B;
  margin: 0 auto;
  max-width: 336px;
}
.posts__row li .post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  text-align: center;
  padding: 10px;
}
.posts__row li h4 {
  font-size: 24px;
  font-weight: 700;
  color: #F8FAFC;
}
@media screen and (max-width: 768px) {
  .posts__row li h4 {
    font-size: 18px;
  }
}
.posts__row li time {
  font-size: 12px;
  color: #9CA3AF;
}
.posts__row li p {
  font-size: 20px;
  color: #F8FAFC;
}
@media screen and (max-width: 768px) {
  .posts__row li p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .posts__row li {
    max-width: 336px;
  }
}

.mailing {
  margin-top: 130px;
}

.mailing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .mailing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
}

.mailing__info {
  max-width: 600px;
}
.mailing__info h2 {
  max-width: 360px;
}
.mailing__info p {
  color: #CBD5E1;
}

.mailing__title {
  margin-bottom: 33px;
}
@media screen and (max-width: 768px) {
  .mailing__title {
    margin-bottom: 15px;
  }
}

.title-2--mailing {
  font-weight: 500;
}

.mail__block {
  background-color: #1E293B;
  padding: 10px 14px 10px 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mail__block input {
  color: #FFFFFF;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .mail__block input {
    font-size: 10px;
  }
}
.mail__block ::-webkit-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-moz-placeholder {
  color: #CBD5E1;
}
.mail__block :-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::placeholder {
  color: #CBD5E1;
}
.mail__block button {
  background: var(--Gradient, linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%));
  color: #1E293B;
  padding: 11px 35px;
  border-radius: 30px;
  font-weight: 700;
  color: #1E293B;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.mail__block button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .mail__block button {
    width: 80px;
    font-size: 10px;
    padding: 9px 15px;
  }
}
@media screen and (max-width: 768px) {
  .mail__block {
    padding: 8px 10px 8px 10px;
  }
}

.footer {
  margin-top: 100px;
  padding: 17px 0 46px;
  border-top: 1px solid #CBD5E1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 20px;
    margin-top: 50px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 10px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__socials img {
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
@media screen and (max-width: 768px) {
  .footer__socials img {
    width: 15px;
  }
}
.footer__socials img:hover {
  opacity: 0.6;
}

/* BLOCKS POSTS */
/* BLOCKS CURRENT POST */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top__row .header__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 700;
  color: #22D3EE;
}
@media screen and (max-width: 768px) {
  .header__top__row .header__top__logo {
    font-size: 24px;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
  }
}

.header__nav {
  display: block;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav ul .nav__link {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav ul .nav__link:hover {
  color: #22D3EE;
}

.header__bottom {
  margin-top: 85px;
}

.header__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__bottom__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 18px;
    text-align: center;
    justify-items: center;
  }
  .header__bottom__row .header__bottom__picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 200px;
  }
}

.headaer__bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
.headaer__bottom__info h1 {
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info h1 {
    font-size: 24px;
  }
}
.headaer__bottom__info p {
  font-size: 26px;
  max-width: 713px;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info p {
    font-size: 13px;
    max-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info {
    row-gap: 18px;
  }
}

.header__bottom__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__bottom__socials img {
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
@media screen and (max-width: 768px) {
  .header__bottom__socials img {
    width: 40px;
    height: 40px;
  }
}
.header__bottom__socials img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .header__bottom__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.post-title {
  margin-bottom: 30px;
}

.post-title--row h1 {
  text-align: center;
  margin-bottom: 42px;
}
@media screen and (max-width: 768px) {
  .post-title--row h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.post-title--row p {
  font-size: 12px;
  color: #9CA3AF;
}
@media screen and (max-width: 768px) {
  .post-title--row {
    text-align: center;
  }
}

.post__row__image {
  margin-bottom: 80px;
}
.post__row__image img {
  border-radius: 20px;
}

.post__row__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.post__row__text h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}
@media screen and (max-width: 768px) {
  .post__row__text h3 {
    font-size: 18px;
  }
}
.post__row__text p {
  font-size: 26px;
  line-height: 1.4;
}
@media screen and (max-width: 768px) {
  .post__row__text p {
    font-size: 13px;
  }
}
.post__row__text ul {
  font-size: 36px;
  font-weight: 700;
}
.post__row__text ul li {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .post__row__text ul li {
    font-size: 10px;
  }
}
.post__row__text .point {
  margin-left: 24px;
}
.post__row__text .point li {
  list-style-type: disc;
}
@media screen and (max-width: 768px) {
  .post__row__text .point {
    margin-left: 14px;
  }
}
@media screen and (max-width: 768px) {
  .post__row__text {
    row-gap: 14px;
  }
}

.mailing {
  margin-top: 130px;
}
@media screen and (max-width: 768px) {
  .mailing {
    margin-top: 50px;
  }
}

.mailing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .mailing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
}

.mailing__info {
  max-width: 600px;
}
.mailing__info h2 {
  max-width: 360px;
}
.mailing__info p {
  color: #CBD5E1;
}

.mailing__title {
  margin-bottom: 33px;
}
@media screen and (max-width: 768px) {
  .mailing__title {
    margin-bottom: 15px;
  }
}

.title-2--mailing {
  font-weight: 500;
}

.mail__block {
  background-color: #1E293B;
  padding: 10px 14px 10px 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mail__block input {
  color: #FFFFFF;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .mail__block input {
    font-size: 10px;
  }
}
.mail__block ::-webkit-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-moz-placeholder {
  color: #CBD5E1;
}
.mail__block :-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::placeholder {
  color: #CBD5E1;
}
.mail__block button {
  background: var(--Gradient, linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%));
  color: #1E293B;
  padding: 11px 35px;
  border-radius: 30px;
  font-weight: 700;
  color: #1E293B;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.mail__block button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .mail__block button {
    width: 80px;
    font-size: 10px;
    padding: 9px 15px;
  }
}
@media screen and (max-width: 768px) {
  .mail__block {
    padding: 8px 10px 8px 10px;
  }
}

.footer {
  margin-top: 100px;
  padding: 17px 0 46px;
  border-top: 1px solid #CBD5E1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 20px;
    margin-top: 50px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 10px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__socials img {
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
@media screen and (max-width: 768px) {
  .footer__socials img {
    width: 15px;
  }
}
.footer__socials img:hover {
  opacity: 0.6;
}

/* BLOCKS POSTS */
/* BLOCKS NEWSLETTERS */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top__row .header__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: 700;
  color: #22D3EE;
}
@media screen and (max-width: 768px) {
  .header__top__row .header__top__logo {
    font-size: 24px;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
  }
}

.header__nav {
  display: block;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav ul .nav__link {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav ul .nav__link:hover {
  color: #22D3EE;
}

.header__bottom {
  margin-top: 85px;
}

.header__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__bottom__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 18px;
    text-align: center;
    justify-items: center;
  }
  .header__bottom__row .header__bottom__picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 200px;
  }
}

.headaer__bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
.headaer__bottom__info h1 {
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info h1 {
    font-size: 24px;
  }
}
.headaer__bottom__info p {
  font-size: 26px;
  max-width: 713px;
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info p {
    font-size: 13px;
    max-width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .headaer__bottom__info {
    row-gap: 18px;
  }
}

.header__bottom__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__bottom__socials img {
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
@media screen and (max-width: 768px) {
  .header__bottom__socials img {
    width: 40px;
    height: 40px;
  }
}
.header__bottom__socials img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .header__bottom__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .news-letters {
    row-gap: 15px;
  }
}

.news-letters__title {
  text-align: center;
}

.news-letters__title--row h1 {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .news-letters__title--row h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .news-letters__title--row p {
    font-size: 10px;
  }
}

.mail__block {
  background-color: #1E293B;
  padding: 10px 14px 10px 30px;
  border-radius: 30px;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mail__block input {
  color: #FFFFFF;
  padding-right: 10px;
  width: 450px;
}
@media screen and (max-width: 768px) {
  .mail__block input {
    font-size: 10px;
    width: 200px;
  }
}
.mail__block ::-webkit-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-moz-placeholder {
  color: #CBD5E1;
}
.mail__block :-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::-ms-input-placeholder {
  color: #CBD5E1;
}
.mail__block ::placeholder {
  color: #CBD5E1;
}
.mail__block button {
  background: var(--Gradient, linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%));
  color: #1E293B;
  padding: 11px 35px;
  border-radius: 30px;
  font-weight: 700;
  color: #1E293B;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.mail__block button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .mail__block button {
    width: 80px;
    font-size: 10px;
    padding: 9px 15px;
  }
}
@media screen and (max-width: 768px) {
  .mail__block {
    padding: 8px 10px 8px 10px;
  }
}

.footer {
  margin-top: 100px;
  padding: 17px 0 46px;
  border-top: 1px solid #CBD5E1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px 20px;
    margin-top: 50px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 10px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__socials img {
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
@media screen and (max-width: 768px) {
  .footer__socials img {
    width: 15px;
  }
}
.footer__socials img:hover {
  opacity: 0.6;
} /* BLOCKS NEWSLETTERS */