// body {
//     position: relative;
// }

.createPost {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.createPost__row {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
    padding: 30px;

    background-color: $bgItems;
    border: 2px solid $accent;
    border-radius: 30px;
    width: 600px;

    input {
        border: 1px solid $accent;

        border-radius: 5px;
        padding: 5px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        font-weight: 900;
    
        padding: 10px 15px;
        height: 30px;
    
        border-radius: 12px;
        background: $bg;
    
        font-size: 16px;
        color: #fff;
    
        transition: background-color 0.2s ease-in;

        &:hover {
            background-color: $accent;
        }
    }

    svg {
        transition: all 0.1s ease-in;
        margin-left: auto;
    }

    svg:hover {
        background-color: $delete;
        border-radius: 50%;
    }
}