.news-letters {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

    @include mediaTablet {
        row-gap: 15px;
    }
}

.news-letters__title {
    text-align: center;
}
.news-letters__title--row {
    h1 {
        margin-bottom: 30px;

        @include mediaTablet {
            font-size: 24px;
            margin-bottom: 15px;
        }
    }

    p {
        @include mediaTablet {
            font-size: 10px;
        }
    }
}
.title-2 {
}

.mail__block {
    background-color: $bgItems;
    padding: 10px 14px 10px 30px;
    border-radius: 30px;
    max-width: 700px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        color: $white;
        padding-right: 10px;
        width: 450px;

        @include mediaTablet {
            font-size: 10px;
            width: 200px;
        }
    }

    ::placeholder {
        color: $secondary;
    }

    button {
        background: var(--Gradient, linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%));
        color: $bgItems;

        padding: 11px 35px;
        border-radius: 30px;

        font-weight: 700;
        color: $bgItems;

        transition: transform 0.2s ease-in;
        

        &:hover {
            transform: scale(1.1);
        }

        @include mediaTablet {
            width: 80px;
            font-size: 10px;
            padding: 9px 15px;
        }
    }

    @include mediaTablet {
        padding: 8px 10px 8px 10px;
    }
}