.footer {
    margin-top: 100px;
    padding: 17px 0 46px;

    border-top: 1px solid $secondary;

    @include mediaTablet {
        padding: 10px 20px;
        margin-top: 50px;
    }
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaTablet {
        flex-direction: column;
        row-gap: 5px;
    }
}

.footer__copyright {
    @include mediaTablet {
        font-size: 10px;
    }
}
.footer__socials {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    column-gap: 10px;

    img {
        transition: opacity 0.1s ease-in;

        @include mediaTablet {
            width: 15px;
        }
    }
    
    
    img:hover {
        opacity: 0.6;
    }
}