.posts {
    margin-top: 95px;
}

.posts__title {
    margin-bottom: 82px;

    &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-weight: 700;
        }

        @include mediaTablet {
            justify-content: center;
            column-gap: 60px;

            a {
                font-size: 12px;
                font-weight: 700;
            }
        }
    }

    @include mediaTablet {
        margin-bottom: 25px;
    }
}

.posts__row {


    ul {
        display: flex;
        justify-content: space-between;
        gap: 20px 25px;

        @include mediaTablet {
            // flex-direction: column;
            // align-items: center;
            // row-gap: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            justify-content: center;
            align-items: center;
        }
    }

    li {
        overflow: hidden;
        border-radius: 20px;
        background-color: $bgItems;

        margin: 0 auto;

        max-width: 336px;

        .post__info {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            text-align: center;

            padding: 10px;
        }

        h4 {
            font-size: 24px;
            font-weight: 700;
            color: $textPost;

            @include mediaTablet {
                font-size: 18px;
            }
        }

        time {
            font-size: 12px;
            color: $datePost;
        }

        p {
            font-size: 20px;
            color: $textPost;

            @include mediaTablet {
                font-size: 14px;
            }
        }

        @include mediaTablet {
            max-width: 336px;
        }
    }
}